version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: UmskulDB
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    container_name: redis_cache
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - redis_data:/data

  fastapi:
    build: ./app
    container_name: fastapi_app
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql+asyncpg://root:root@db:5432/UmskulDB
      BOT_TOKEN: ${BOT_TOKEN}
      REDIS_URL: redis://redis:6379/0
    depends_on:
      - db
      - redis
    volumes:
      - ./app:/app

  bot:
    build: ./telegram
    container_name: telegram_bot
    environment:
      BOT_TOKEN: ${BOT_TOKEN}
      API_URL: http://fastapi:8000
      REDIS_URL: redis://redis:6379/0  # Для FSM
    depends_on:
      - fastapi
      - redis
    volumes:
      - ./telegram:/app

volumes:
  postgres_data:
  redis_data: